RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]

# Block direct access to sensitive files
<FilesMatch "(^\.env|^\.git|\.sql$|deploy\.sh$)">
    Order allow,deny
    Deny from all
</FilesMatch>

php_value max_input_vars 20000
php_value max_multipart_body_parts 20000

