-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: lifecare
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accountant`
--

DROP TABLE IF EXISTS `accountant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accountant` (
  `id` int NOT NULL AUTO_INCREMENT,
  `img_url` varchar(200) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` varchar(100) DEFAULT NULL,
  `phone` varchar(100) DEFAULT NULL,
  `x` varchar(100) DEFAULT NULL,
  `ion_user_id` varchar(100) DEFAULT NULL,
  `hospital_id` varchar(100) DEFAULT NULL,
  `signature` varchar(1000) DEFAULT NULL,
  `profile` varchar(1000) DEFAULT NULL,
  `available` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accountant`
--

LOCK TABLES `accountant` WRITE;
/*!40000 ALTER TABLE `accountant` DISABLE KEYS */;
INSERT INTO `accountant` VALUES (8,'uploads/userIcon.png','Mr Accountant','accountant@hms.com','Ka, 3/I, Bashundhara Main Road','01777024443',NULL,'1067','98',NULL,'<p>Accountant details</p>','0');
/*!40000 ALTER TABLE `accountant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `advice`
--

DROP TABLE IF EXISTS `advice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advice` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(500) DEFAULT NULL,
  `description` varchar(1000) DEFAULT NULL,
  `hospital_id` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `advice`
--

LOCK TABLES `advice` WRITE;
/*!40000 ALTER TABLE `advice` DISABLE KEYS */;
INSERT INTO `advice` VALUES (16,'Rest',NULL,98);
/*!40000 ALTER TABLE `advice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_image_analyses`
--

DROP TABLE IF EXISTS `ai_image_analyses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_image_analyses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `patient_id` int NOT NULL,
  `doctor_id` int NOT NULL,
  `hospital_id` int NOT NULL,
  `image_type` enum('xray','ct_scan','mri','ultrasound','endoscopy','dermatology','ophthalmology','pathology','other') COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `image_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `analysis_result` longtext COLLATE utf8mb4_unicode_ci,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `patient_id` (`patient_id`),
  KEY `doctor_id` (`doctor_id`),
  KEY `hospital_id` (`hospital_id`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`),
  KEY `image_type` (`image_type`),
  KEY `created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_image_analyses`
--

LOCK TABLES `ai_image_analyses` WRITE;
/*!40000 ALTER TABLE `ai_image_analyses` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_image_analyses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_patient_overviews`
--

DROP TABLE IF EXISTS `ai_patient_overviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_patient_overviews` (
  `id` int NOT NULL AUTO_INCREMENT,
  `patient_id` int NOT NULL,
  `doctor_id` int NOT NULL,
  `hospital_id` int NOT NULL,
  `analysis_result` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `patient_id` (`patient_id`),
  KEY `doctor_id` (`doctor_id`),
  KEY `hospital_id` (`hospital_id`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`),
  KEY `created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_patient_overviews`
--

LOCK TABLES `ai_patient_overviews` WRITE;
/*!40000 ALTER TABLE `ai_patient_overviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_patient_overviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alloted_bed`
--

DROP TABLE IF EXISTS `alloted_bed`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alloted_bed` (
  `id` int NOT NULL AUTO_INCREMENT,
  `number` varchar(100) DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `patient` varchar(100) DEFAULT NULL,
  `a_time` varchar(100) DEFAULT NULL,
  `d_time` varchar(100) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `x` varchar(100) DEFAULT NULL,
  `bed_id` varchar(100) DEFAULT NULL,
  `patientname` varchar(1000) DEFAULT NULL,
  `category_status` varchar(1000) DEFAULT NULL,
  `reaksione` varchar(1000) DEFAULT NULL,
  `covid_19` varchar(1000) DEFAULT NULL,
  `transferred_from` varchar(1000) DEFAULT NULL,
  `anamneza` varchar(1000) DEFAULT NULL,
  `accepting_doctor` varchar(1000) DEFAULT NULL,
  `doctor` varchar(1000) DEFAULT NULL,
  `diagnosis` varchar(1000) DEFAULT NULL,
  `diagnoza_a_shtrimit` varchar(1000) DEFAULT NULL,
  `blood_group` varchar(1000) DEFAULT NULL,
  `other_illnesses` varchar(1000) DEFAULT NULL,
  `a_timestamp` varchar(1000) DEFAULT NULL,
  `d_timestamp` varchar(1000) DEFAULT NULL,
  `bed_display_id` varchar(100) DEFAULT NULL,
  `hospital_id` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=96 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alloted_bed`
--

LOCK TABLES `alloted_bed` WRITE;
/*!40000 ALTER TABLE `alloted_bed` DISABLE KEYS */;
INSERT INTO `alloted_bed` VALUES (95,NULL,'General','53','2026-02-03 15:05',NULL,NULL,NULL,'12','Mr Patient','urgent','',NULL,'','','44','44','','','2','','1770131100',NULL,'General-101','98');
/*!40000 ALTER TABLE `alloted_bed` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ambulance`
--

DROP TABLE IF EXISTS `ambulance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ambulance` (
  `id` int NOT NULL AUTO_INCREMENT,
  `vehicle_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `driver_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `driver_phone` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ambulance_type` enum('Basic','Advanced','Critical Care','Neonatal') COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('Available','On Call','Maintenance','Out of Service') COLLATE utf8mb4_unicode_ci DEFAULT 'Available',
  `equipment` text COLLATE utf8mb4_unicode_ci,
  `capacity` int DEFAULT '1',
  `hospital_id` int NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_vehicle_hospital` (`vehicle_number`,`hospital_id`),
  KEY `idx_hospital_id` (`hospital_id`),
  KEY `idx_status` (`status`),
  KEY `idx_ambulance_type` (`ambulance_type`),
  KEY `idx_vehicle_number` (`vehicle_number`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ambulance`
--

LOCK TABLES `ambulance` WRITE;
/*!40000 ALTER TABLE `ambulance` DISABLE KEYS */;
/*!40000 ALTER TABLE `ambulance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ambulance_bookings`
--

DROP TABLE IF EXISTS `ambulance_bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ambulance_bookings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `booking_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `patient_id` int DEFAULT NULL,
  `patient_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `patient_phone` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `patient_address` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `pickup_address` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `destination_address` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `ambulance_id` int NOT NULL,
  `driver_id` int DEFAULT NULL,
  `booking_type` enum('Emergency','Transfer','Discharge','Other') COLLATE utf8mb4_unicode_ci NOT NULL,
  `priority` enum('Low','Medium','High','Critical') COLLATE utf8mb4_unicode_ci DEFAULT 'Medium',
  `status` enum('Pending','Confirmed','In Progress','Completed','Cancelled') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `pickup_time` datetime NOT NULL,
  `estimated_arrival` datetime DEFAULT NULL,
  `actual_pickup_time` datetime DEFAULT NULL,
  `actual_dropoff_time` datetime DEFAULT NULL,
  `distance_km` decimal(10,2) DEFAULT NULL,
  `base_fare` decimal(10,2) DEFAULT '0.00',
  `distance_fare` decimal(10,2) DEFAULT '0.00',
  `waiting_fare` decimal(10,2) DEFAULT '0.00',
  `total_fare` decimal(10,2) DEFAULT '0.00',
  `payment_status` enum('Pending','Paid','Partial','Refunded') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `payment_method` enum('Cash','Card','Insurance','Online') COLLATE utf8mb4_unicode_ci DEFAULT 'Cash',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `hospital_id` int NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_booking_number` (`booking_number`),
  KEY `idx_hospital_id` (`hospital_id`),
  KEY `idx_patient_id` (`patient_id`),
  KEY `idx_ambulance_id` (`ambulance_id`),
  KEY `idx_status` (`status`),
  KEY `idx_booking_type` (`booking_type`),
  KEY `idx_pickup_time` (`pickup_time`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ambulance_bookings`
--

LOCK TABLES `ambulance_bookings` WRITE;
/*!40000 ALTER TABLE `ambulance_bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `ambulance_bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ambulance_payments`
--

DROP TABLE IF EXISTS `ambulance_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ambulance_payments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `booking_id` int NOT NULL,
  `payment_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `payment_method` enum('Cash','Card','Insurance','Online','Bank Transfer') COLLATE utf8mb4_unicode_ci NOT NULL,
  `payment_status` enum('Pending','Completed','Failed','Refunded') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `transaction_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_date` datetime DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `hospital_id` int NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_payment_number` (`payment_number`),
  KEY `idx_hospital_id` (`hospital_id`),
  KEY `idx_booking_id` (`booking_id`),
  KEY `idx_payment_status` (`payment_status`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ambulance_payments`
--

LOCK TABLES `ambulance_payments` WRITE;
/*!40000 ALTER TABLE `ambulance_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `ambulance_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ambulance_rates`
--

DROP TABLE IF EXISTS `ambulance_rates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ambulance_rates` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ambulance_type` enum('Basic','Advanced','Critical Care','Neonatal') COLLATE utf8mb4_unicode_ci NOT NULL,
  `base_fare` decimal(10,2) NOT NULL DEFAULT '0.00',
  `per_km_rate` decimal(10,2) NOT NULL DEFAULT '0.00',
  `waiting_rate_per_hour` decimal(10,2) NOT NULL DEFAULT '0.00',
  `night_charge_percentage` decimal(5,2) DEFAULT '0.00',
  `weekend_charge_percentage` decimal(5,2) DEFAULT '0.00',
  `holiday_charge_percentage` decimal(5,2) DEFAULT '0.00',
  `minimum_charge` decimal(10,2) DEFAULT '0.00',
  `hospital_id` int NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_type_hospital` (`ambulance_type`,`hospital_id`),
  KEY `idx_hospital_id` (`hospital_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ambulance_rates`
--

LOCK TABLES `ambulance_rates` WRITE;
/*!40000 ALTER TABLE `ambulance_rates` DISABLE KEYS */;
/*!40000 ALTER TABLE `ambulance_rates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `appointment`
--

DROP TABLE IF EXISTS `appointment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `appointment` (
  `id` int NOT NULL AUTO_INCREMENT,
  `patient` varchar(100) DEFAULT NULL,
  `doctor` varchar(100) DEFAULT NULL,
  `date` varchar(100) DEFAULT NULL,
  `time_slot` varchar(100) DEFAULT NULL,
  `s_time` varchar(100) DEFAULT NULL,
  `e_time` varchar(100) DEFAULT NULL,
  `remarks` varchar(500) DEFAULT NULL,
  `add_date` varchar(100) DEFAULT NULL,
  `registration_time` varchar(100) DEFAULT NULL,
  `s_time_key` varchar(100) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `user` varchar(100) DEFAULT NULL,
  `request` varchar(100) DEFAULT NULL,
  `patientname` varchar(1000) DEFAULT NULL,
  `doctorname` varchar(1000) DEFAULT NULL,
  `meeting_id` varchar(100) DEFAULT NULL,
  `room_id` varchar(500) DEFAULT NULL,
  `live_meeting_link` varchar(1000) DEFAULT NULL,
  `cron_job` varchar(1000) DEFAULT NULL,
  `hospital_id` varchar(100) DEFAULT NULL,
  `app_time` varchar(300) DEFAULT NULL,
  `app_time_full_format` varchar(300) DEFAULT NULL,
  `payment_status` varchar(300) DEFAULT NULL,
  `visit_description` varchar(300) DEFAULT NULL,
  `visit_charges` varchar(300) DEFAULT NULL,
  `payment_id` varchar(300) DEFAULT NULL,
  `discount` varchar(300) DEFAULT NULL,
  `grand_total` varchar(300) DEFAULT NULL,
  `start_url` varchar(1000) DEFAULT NULL,
  `join_url` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=453 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointment`
--

LOCK TABLES `appointment` WRITE;
/*!40000 ALTER TABLE `appointment` DISABLE KEYS */;
/*!40000 ALTER TABLE `appointment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance` (
  `id` int NOT NULL AUTO_INCREMENT,
  `staff` varchar(100) DEFAULT NULL,
  `month` varchar(100) DEFAULT NULL,
  `year` varchar(100) DEFAULT NULL,
  `log` varchar(1000) DEFAULT NULL,
  `details` mediumtext,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=162 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `autoemailshortcode`
--

DROP TABLE IF EXISTS `autoemailshortcode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `autoemailshortcode` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(1000) DEFAULT NULL,
  `type` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `autoemailshortcode`
--

LOCK TABLES `autoemailshortcode` WRITE;
/*!40000 ALTER TABLE `autoemailshortcode` DISABLE KEYS */;
/*!40000 ALTER TABLE `autoemailshortcode` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `autoemailtemplate`
--

DROP TABLE IF EXISTS `autoemailtemplate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `autoemailtemplate` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(1000) DEFAULT NULL,
  `message` varchar(1000) DEFAULT NULL,
  `type` varchar(1000) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `hospital_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=1673 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `autoemailtemplate`
--

LOCK TABLES `autoemailtemplate` WRITE;
/*!40000 ALTER TABLE `autoemailtemplate` DISABLE KEYS */;
/*!40000 ALTER TABLE `autoemailtemplate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `autosmsshortcode`
--

DROP TABLE IF EXISTS `autosmsshortcode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `autosmsshortcode` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(1000) DEFAULT NULL,
  `type` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `autosmsshortcode`
--

LOCK TABLES `autosmsshortcode` WRITE;
/*!40000 ALTER TABLE `autosmsshortcode` DISABLE KEYS */;
/*!40000 ALTER TABLE `autosmsshortcode` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `autosmstemplate`
--

DROP TABLE IF EXISTS `autosmstemplate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `autosmstemplate` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(1000) DEFAULT NULL,
  `message` varchar(1000) DEFAULT NULL,
  `type` varchar(1000) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `hospital_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=980 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `autosmstemplate`
--

LOCK TABLES `autosmstemplate` WRITE;
/*!40000 ALTER TABLE `autosmstemplate` DISABLE KEYS */;
/*!40000 ALTER TABLE `autosmstemplate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bankb`
--

DROP TABLE IF EXISTS `bankb`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bankb` (
  `id` int NOT NULL AUTO_INCREMENT,
  `group` varchar(100) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `hospital_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=753 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bankb`
--

LOCK TABLES `bankb` WRITE;
/*!40000 ALTER TABLE `bankb` DISABLE KEYS */;
/*!40000 ALTER TABLE `bankb` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bed`
--

DROP TABLE IF EXISTS `bed`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bed` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category` varchar(100) DEFAULT NULL,
  `number` varchar(100) DEFAULT NULL,
  `description` varchar(100) DEFAULT NULL,
  `last_a_time` varchar(100) DEFAULT NULL,
  `last_d_time` varchar(100) DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL,
  `bed_id` varchar(100) DEFAULT NULL,
  `current_allotment_id` varchar(100) DEFAULT NULL,
  `hospital_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bed`
--

LOCK TABLES `bed` WRITE;
/*!40000 ALTER TABLE `bed` DISABLE KEYS */;
INSERT INTO `bed` VALUES (12,'General','101','sdfdsf',NULL,NULL,NULL,'General-101','95','98');
/*!40000 ALTER TABLE `bed` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bed_category`
--

DROP TABLE IF EXISTS `bed_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bed_category` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category` varchar(100) DEFAULT NULL,
  `description` varchar(100) DEFAULT NULL,
  `hospital_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bed_category`
--

LOCK TABLES `bed_category` WRITE;
/*!40000 ALTER TABLE `bed_category` DISABLE KEYS */;
INSERT INTO `bed_category` VALUES (6,'Room 302','Room 203','133'),(9,'General','sdfdsfdsf','98');
/*!40000 ALTER TABLE `bed_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bed_checkout`
--

DROP TABLE IF EXISTS `bed_checkout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bed_checkout` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` varchar(1000) DEFAULT NULL,
  `final_diagnosis` varchar(1000) DEFAULT NULL,
  `anatomopatologic_diagnosis` varchar(1000) DEFAULT NULL,
  `dikordance` varchar(1000) DEFAULT NULL,
  `alloted_bed_id` varchar(1000) DEFAULT NULL,
  `doctor` varchar(1000) DEFAULT NULL,
  `epicrisis` varchar(1000) DEFAULT NULL,
  `checkout_state` varchar(1000) DEFAULT NULL,
  `checkout_diagnosis` varchar(1000) DEFAULT NULL,
  `instruction` varchar(1000) DEFAULT NULL,
  `medicine_to_take` varchar(1000) DEFAULT NULL,
  `hospital_id` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bed_checkout`
--

LOCK TABLES `bed_checkout` WRITE;
/*!40000 ALTER TABLE `bed_checkout` DISABLE KEYS */;
INSERT INTO `bed_checkout` VALUES (22,'09 November 2022 - 04:05 PM',' ljbkj',' ',NULL,'76',NULL,' ',' ',' ','','','98'),(23,'2025-01-12 13:15',' cxvcxvcxv',' xcvxcvxc',NULL,'91','44',' xcvxcv',' xcvxcvx',' xcvxcvx','<p>xcvcxvxcv</p>','<p>xcvcxvxcv</p>','98'),(24,'2025-01-12 13:20',' sdfdsfdsf',' sdfsdf',NULL,'92','44',' sdfsdf',' fsdfsf',' sfsdf','<p>sdfdsf</p>','<p>fsdfsdf</p>','98');
/*!40000 ALTER TABLE `bed_checkout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bed_diagnostic`
--

DROP TABLE IF EXISTS `bed_diagnostic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bed_diagnostic` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` varchar(100) DEFAULT NULL,
  `nurse` varchar(100) DEFAULT NULL,
  `payment_procedure` varchar(500) DEFAULT NULL,
  `price` varchar(100) DEFAULT NULL,
  `quantity` varchar(100) DEFAULT NULL,
  `total` varchar(100) DEFAULT NULL,
  `alloted_bed_id` varchar(100) DEFAULT NULL,
  `payment_id` varchar(100) DEFAULT NULL,
  `hospital_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bed_diagnostic`
--

LOCK TABLES `bed_diagnostic` WRITE;
/*!40000 ALTER TABLE `bed_diagnostic` DISABLE KEYS */;
INSERT INTO `bed_diagnostic` VALUES (85,'1670401902',NULL,'66','500','1','500','76','278','98');
/*!40000 ALTER TABLE `bed_diagnostic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bed_medicine`
--

DROP TABLE IF EXISTS `bed_medicine`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bed_medicine` (
  `id` int NOT NULL AUTO_INCREMENT,
  `generic_name` varchar(1000) DEFAULT NULL,
  `medicine_name` varchar(1000) DEFAULT NULL,
  `medicine_id` varchar(1000) DEFAULT NULL,
  `s_price` varchar(1000) DEFAULT NULL,
  `hospital_id` varchar(1000) DEFAULT NULL,
  `quantity` varchar(1000) DEFAULT NULL,
  `total` varchar(1000) DEFAULT NULL,
  `alloted_bed_id` varchar(1000) DEFAULT NULL,
  `date` varchar(1000) DEFAULT NULL,
  `payment_id` varchar(1000) DEFAULT NULL,
  `medicine_pharmacy_id` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=159 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bed_medicine`
--

LOCK TABLES `bed_medicine` WRITE;
/*!40000 ALTER TABLE `bed_medicine` DISABLE KEYS */;
/*!40000 ALTER TABLE `bed_medicine` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bed_service`
--

DROP TABLE IF EXISTS `bed_service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bed_service` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` varchar(1000) DEFAULT NULL,
  `nurse` varchar(1000) DEFAULT NULL,
  `service` varchar(1000) DEFAULT NULL,
  `price` varchar(1000) DEFAULT NULL,
  `quantity` varchar(100) DEFAULT NULL,
  `total` varchar(100) DEFAULT NULL,
  `alloted_bed_id` varchar(1000) DEFAULT NULL,
  `payment_id` varchar(1000) DEFAULT NULL,
  `hospital_id` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=92 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bed_service`
--

LOCK TABLES `bed_service` WRITE;
/*!40000 ALTER TABLE `bed_service` DISABLE KEYS */;
/*!40000 ALTER TABLE `bed_service` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blood_group`
--

DROP TABLE IF EXISTS `blood_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blood_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `bloodgroup` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blood_group`
--

LOCK TABLES `blood_group` WRITE;
/*!40000 ALTER TABLE `blood_group` DISABLE KEYS */;
INSERT INTO `blood_group` VALUES (1,'A+'),(2,'O+'),(3,'B+'),(4,'AB+'),(5,'A-'),(6,'O-'),(7,'B-'),(8,'AB-');
/*!40000 ALTER TABLE `blood_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category` varchar(1000) DEFAULT NULL,
  `description` varchar(1000) DEFAULT NULL,
  `hospital_id` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category`
--

LOCK TABLES `category` WRITE;
/*!40000 ALTER TABLE `category` DISABLE KEYS */;
INSERT INTO `category` VALUES (11,'Blood Test','Blood Test','98'),(12,'Pathology','Pathology','133'),(13,'Blood Examination','Blood Examination','98'),(14,'Stool Examination','Stool Examination','98'),(15,'Urine Examination','Urine Examination','98'),(16,'Digital X-Ray','Digital X-Ray','98'),(17,'Ultrasonography','Ultrasonography','98'),(18,'ECG','ECG','98'),(19,'Nebulization','Nebulization','98'),(20,'Others','Others','98');
/*!40000 ALTER TABLE `category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat`
--

DROP TABLE IF EXISTS `chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sender_id` varchar(100) DEFAULT NULL,
  `receiver_id` varchar(100) DEFAULT NULL,
  `chat_text` text,
  `status` varchar(100) DEFAULT NULL,
  `date_time` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat`
--

LOCK TABLES `chat` WRITE;
/*!40000 ALTER TABLE `chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_progress`
--

DROP TABLE IF EXISTS `daily_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_progress` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` varchar(1000) DEFAULT NULL,
  `datestamp` varchar(1000) DEFAULT NULL,
  `daily_description` varchar(1000) DEFAULT NULL,
  `description` varchar(1000) DEFAULT NULL,
  `alloted_bed_id` varchar(1000) DEFAULT NULL,
  `hospital_id` varchar(1000) DEFAULT NULL,
  `time` varchar(1000) DEFAULT NULL,
  `nurse` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_progress`
--

LOCK TABLES `daily_progress` WRITE;
/*!40000 ALTER TABLE `daily_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dental_appointment_types`
--

DROP TABLE IF EXISTS `dental_appointment_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dental_appointment_types` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `duration_minutes` int DEFAULT '30',
  `color_code` varchar(7) COLLATE utf8mb4_unicode_ci DEFAULT '#007bff',
  `hospital_id` int NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `hospital_id` (`hospital_id`),
  KEY `is_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dental_appointment_types`
--

LOCK TABLES `dental_appointment_types` WRITE;
/*!40000 ALTER TABLE `dental_appointment_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `dental_appointment_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dental_examinations`
--

DROP TABLE IF EXISTS `dental_examinations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dental_examinations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `patient_id` int NOT NULL,
  `doctor_id` int NOT NULL,
  `hospital_id` int NOT NULL,
  `examination_date` datetime NOT NULL,
  `chief_complaint` text COLLATE utf8mb4_unicode_ci,
  `medical_history` text COLLATE utf8mb4_unicode_ci,
  `dental_history` text COLLATE utf8mb4_unicode_ci,
  `extraoral_examination` text COLLATE utf8mb4_unicode_ci,
  `intraoral_examination` text COLLATE utf8mb4_unicode_ci,
  `diagnosis` text COLLATE utf8mb4_unicode_ci,
  `treatment_plan` text COLLATE utf8mb4_unicode_ci,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `next_appointment` datetime DEFAULT NULL,
  `status` enum('draft','completed','follow_up_required') COLLATE utf8mb4_unicode_ci DEFAULT 'draft',
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `patient_id` (`patient_id`),
  KEY `doctor_id` (`doctor_id`),
  KEY `hospital_id` (`hospital_id`),
  KEY `examination_date` (`examination_date`),
  KEY `status` (`status`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dental_examinations`
--

LOCK TABLES `dental_examinations` WRITE;
/*!40000 ALTER TABLE `dental_examinations` DISABLE KEYS */;
/*!40000 ALTER TABLE `dental_examinations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dental_images`
--

DROP TABLE IF EXISTS `dental_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dental_images` (
  `id` int NOT NULL AUTO_INCREMENT,
  `examination_id` int NOT NULL,
  `image_type` enum('intraoral','extraoral','xray','panoramic','bitewing','other') COLLATE utf8mb4_unicode_ci NOT NULL,
  `image_path` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `image_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `tooth_number` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `uploaded_by` int NOT NULL,
  `upload_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `examination_id` (`examination_id`),
  KEY `image_type` (`image_type`),
  KEY `tooth_number` (`tooth_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dental_images`
--

LOCK TABLES `dental_images` WRITE;
/*!40000 ALTER TABLE `dental_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `dental_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dental_odontogram`
--

DROP TABLE IF EXISTS `dental_odontogram`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dental_odontogram` (
  `id` int NOT NULL AUTO_INCREMENT,
  `examination_id` int NOT NULL,
  `tooth_number` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tooth_type` enum('permanent','deciduous') COLLATE utf8mb4_unicode_ci DEFAULT 'permanent',
  `condition` enum('healthy','caries','filled','crowned','extracted','impacted','fractured','root_canal','implant','bridge','other') COLLATE utf8mb4_unicode_ci DEFAULT 'healthy',
  `surface_affected` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `severity` enum('mild','moderate','severe') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `color_code` varchar(7) COLLATE utf8mb4_unicode_ci DEFAULT '#FFFFFF',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `examination_id` (`examination_id`),
  KEY `tooth_number` (`tooth_number`),
  KEY `condition` (`condition`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dental_odontogram`
--

LOCK TABLES `dental_odontogram` WRITE;
/*!40000 ALTER TABLE `dental_odontogram` DISABLE KEYS */;
/*!40000 ALTER TABLE `dental_odontogram` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dental_prescriptions`
--

DROP TABLE IF EXISTS `dental_prescriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dental_prescriptions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `examination_id` int NOT NULL,
  `medication_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dosage` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `frequency` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `duration` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `instructions` text COLLATE utf8mb4_unicode_ci,
  `quantity` int DEFAULT NULL,
  `created_by` int NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `examination_id` (`examination_id`),
  KEY `medication_name` (`medication_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dental_prescriptions`
--

LOCK TABLES `dental_prescriptions` WRITE;
/*!40000 ALTER TABLE `dental_prescriptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `dental_prescriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dental_treatment_templates`
--

DROP TABLE IF EXISTS `dental_treatment_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dental_treatment_templates` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `category` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `estimated_duration` int DEFAULT NULL,
  `estimated_cost` decimal(10,2) DEFAULT NULL,
  `instructions` text COLLATE utf8mb4_unicode_ci,
  `hospital_id` int NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `category` (`category`),
  KEY `hospital_id` (`hospital_id`),
  KEY `is_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dental_treatment_templates`
--

LOCK TABLES `dental_treatment_templates` WRITE;
/*!40000 ALTER TABLE `dental_treatment_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `dental_treatment_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dental_treatments`
--

DROP TABLE IF EXISTS `dental_treatments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dental_treatments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `examination_id` int NOT NULL,
  `tooth_number` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `treatment_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `treatment_description` text COLLATE utf8mb4_unicode_ci,
  `treatment_date` date DEFAULT NULL,
  `duration_minutes` int DEFAULT NULL,
  `cost` decimal(10,2) DEFAULT NULL,
  `status` enum('planned','in_progress','completed','cancelled') COLLATE utf8mb4_unicode_ci DEFAULT 'planned',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_by` int NOT NULL,
  `updated_by` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `examination_id` (`examination_id`),
  KEY `tooth_number` (`tooth_number`),
  KEY `treatment_type` (`treatment_type`),
  KEY `treatment_date` (`treatment_date`),
  KEY `status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dental_treatments`
--

LOCK TABLES `dental_treatments` WRITE;
/*!40000 ALTER TABLE `dental_treatments` DISABLE KEYS */;
/*!40000 ALTER TABLE `dental_treatments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department`
--

DROP TABLE IF EXISTS `department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `description` varchar(1000) DEFAULT NULL,
  `x` varchar(10) DEFAULT NULL,
  `y` varchar(10) DEFAULT NULL,
  `hospital_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department`
--

LOCK TABLES `department` WRITE;
/*!40000 ALTER TABLE `department` DISABLE KEYS */;
